iph/
obj/
Debug/
Release/
bin/
ipch/
*.sdf
*.opensdf
*.bsc
*.user*
*.o
moc_*
qrc_*
ui_*
.vscode
build-*
espeak-data
libtihu.so
tihu_play/tihu_play
build/data/g2p*
build/log/*
build/tihu_play
build/tihu_test
build/mbrola